@font-face {
    font-family: "Disney";
    src: url(NewWaltDisneyFontRegular-BPen.ttf);
    src: url(NewWaltDisneyUi-8YdA.ttf);
}

body {
    background-color: rgb(238, 233, 139);
}

.disney-font {
    font-family: "Disney";
}

#page-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 20px;
    color: black;
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.bold-para {
    font-weight: bold;
    font-size: 16px;
}

#team-build-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#search-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    padding: 20px;
    color: black;
    text-align: center;
    justify-content: flex-start;
    width: 20%;
    border-right: 1px solid;
}

#your-team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 20px;
    color: black;
    text-align: center;
    justify-content: flex-start;
    width: 80%;
    border-left: 1px solid;
}

#search-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 16px;
}

#search-field {
    width: 50%;
    min-width: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#search-submit {
    margin-bottom: 10px;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.char-search-card {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px;
    padding: 10px;
}

.char-image {
    width: 80%;
    height: 80%;
    margin-bottom: 10px;
}

.char-team-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 250px;
    padding: 10px;
}

.char-container {
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-details {
    width: 80%;
    margin: 10px;
    text-align: left;
}